
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles */
body{
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* top players styles */
.container{
    width: 870px;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 0px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
}
.player img{
    width: 56px;
    height: 56px;
}
.player h3{
    margin-left: 20px;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
    margin: 30px 0;
}

/* top blogs styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;
}
.blog{
    display: flex;
    align-items: center;
}
.thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 15px;
}
.blog-title h3{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
}

/* latest course styles */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    justify-content: center;
}
.course{
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}
.course-banner img{
    width: 266px;
    height: 141px;
}
.course-title h3{
    font-size: 20px;
}
.course-teacher{
    color: #ED6B4F;
}
.course-info{
    display: flex;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
    opacity: 0.25;
}
.course-duration{
    background-color: #FFE4E8;
    border-radius: 15px;
    padding: 5px;
    color: #FF4A60;
}
